.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #f4f2ff;
}
body {
  font-family: Manrope;
}
.display-1 {
  font-family: 'Manrope', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Manrope', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Manrope', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #c0fa9e !important;
}
.bg-success {
  background-color: #7ee7b6 !important;
}
.bg-info {
  background-color: #6ee0f7 !important;
}
.bg-warning {
  background-color: #b39846 !important;
}
.bg-danger {
  background-color: #0e7b9e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #c0fa9e !important;
  border-color: #c0fa9e !important;
  color: #3a9208 !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #e0fdcf !important;
  border-color: #e0fdcf !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #3a9208 !important;
  background-color: #e0fdcf !important;
  border-color: #e0fdcf !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e5a093 !important;
  border-color: #e5a093 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #efc4bc !important;
  border-color: #efc4bc !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #efc4bc !important;
  border-color: #efc4bc !important;
}
.btn-info,
.btn-info:active {
  background-color: #6ee0f7 !important;
  border-color: #6ee0f7 !important;
  color: #055161 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #9eeafa !important;
  border-color: #9eeafa !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #055161 !important;
  background-color: #9eeafa !important;
  border-color: #9eeafa !important;
}
.btn-success,
.btn-success:active {
  background-color: #7ee7b6 !important;
  border-color: #7ee7b6 !important;
  color: #105635 !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #a9efce !important;
  border-color: #a9efce !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #105635 !important;
  background-color: #a9efce !important;
  border-color: #a9efce !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #b39846 !important;
  border-color: #b39846 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c4ad68 !important;
  border-color: #c4ad68 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #c4ad68 !important;
  border-color: #c4ad68 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #0e7b9e !important;
  border-color: #0e7b9e !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #129fcd !important;
  border-color: #129fcd !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #129fcd !important;
  border-color: #129fcd !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #c0fa9e;
  color: #c0fa9e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #8af64c !important;
  background-color: transparent !important;
  border-color: #8af64c !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #3a9208 !important;
  background-color: #c0fa9e !important;
  border-color: #c0fa9e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e5a093;
  color: #e5a093;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d4634d !important;
  background-color: transparent !important;
  border-color: #d4634d !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e5a093 !important;
  border-color: #e5a093 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #6ee0f7;
  color: #6ee0f7;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #1ccef2 !important;
  background-color: transparent !important;
  border-color: #1ccef2 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #055161 !important;
  background-color: #6ee0f7 !important;
  border-color: #6ee0f7 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #7ee7b6;
  color: #7ee7b6;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #35d98d !important;
  background-color: transparent !important;
  border-color: #35d98d !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #105635 !important;
  background-color: #7ee7b6 !important;
  border-color: #7ee7b6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #b39846;
  color: #b39846;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #75632e !important;
  background-color: transparent !important;
  border-color: #75632e !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b39846 !important;
  border-color: #b39846 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #0e7b9e;
  color: #0e7b9e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #073d4e !important;
  background-color: transparent !important;
  border-color: #073d4e !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0e7b9e !important;
  border-color: #0e7b9e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #c0fa9e !important;
}
.text-secondary {
  color: #e5a093 !important;
}
.text-success {
  color: #7ee7b6 !important;
}
.text-info {
  color: #6ee0f7 !important;
}
.text-warning {
  color: #b39846 !important;
}
.text-danger {
  color: #0e7b9e !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #81f53d !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #d15841 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #28d785 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0dcbf2 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #6a5a29 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #063240 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #c0fa9e;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6ee0f7;
}
.alert-warning {
  background-color: #b39846;
}
.alert-danger {
  background-color: #0e7b9e;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c0fa9e;
  border-color: #c0fa9e;
  color: #44aa09;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #c0fa9e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d9cb9f;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #3ec3ee;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #c0fa9e !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #c0fa9e;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c0fa9e;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #c0fa9e;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c0fa9e;
  border-bottom-color: #c0fa9e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #c0fa9e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #e5a093 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c0fa9e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uKYtBYtmdM {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-uKYtBYtmdM .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-uKYtBYtmdM .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-uKYtBYtmdM .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uKYtBYtmdM .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-uKYtBYtmdM .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uKYtBYtmdM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uKYtBYtmdM .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-uKYtBYtmdM .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-uKYtBYtmdM .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-uKYtBYtmdM .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-uKYtBYtmdM .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-uKYtBYtmdM .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-uKYtBYtmdM .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-uKYtBYtmdM .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-uKYtBYtmdM .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-uKYtBYtmdM .nav-link {
  width: fit-content;
  position: relative;
}
.cid-uKYtBYtmdM .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-uKYtBYtmdM .navbar-logo {
    padding-left: 0;
  }
}
.cid-uKYtBYtmdM .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uKYtBYtmdM .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-uKYtBYtmdM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-uKYtBYtmdM .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-uKYtBYtmdM .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uKYtBYtmdM .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-uKYtBYtmdM .iconfont-wrapper {
  color: #0e7b9e !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uKYtBYtmdM .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
}
.cid-uKYtBYtmdM .nav-item:focus,
.cid-uKYtBYtmdM .nav-link:focus {
  outline: none;
}
.cid-uKYtBYtmdM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uKYtBYtmdM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uKYtBYtmdM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uKYtBYtmdM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uKYtBYtmdM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uKYtBYtmdM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uKYtBYtmdM .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-uKYtBYtmdM .navbar.opened {
  transition: all 0.3s;
}
.cid-uKYtBYtmdM .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uKYtBYtmdM .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-uKYtBYtmdM .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-uKYtBYtmdM .navbar.collapsed {
  justify-content: center;
}
.cid-uKYtBYtmdM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uKYtBYtmdM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uKYtBYtmdM .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.3rem);
  }
}
.cid-uKYtBYtmdM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uKYtBYtmdM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uKYtBYtmdM .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uKYtBYtmdM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uKYtBYtmdM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uKYtBYtmdM .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uKYtBYtmdM .navbar {
    min-height: 72px;
  }
  .cid-uKYtBYtmdM .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-uKYtBYtmdM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uKYtBYtmdM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uKYtBYtmdM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uKYtBYtmdM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uKYtBYtmdM .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uKYtBYtmdM .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uKYtBYtmdM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-uKYtBYtmdM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uKYtBYtmdM .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uKYtBYtmdM .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-uKYtBYtmdM .dropdown-item.active,
.cid-uKYtBYtmdM .dropdown-item:active {
  background-color: transparent;
}
.cid-uKYtBYtmdM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uKYtBYtmdM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uKYtBYtmdM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uKYtBYtmdM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uKYtBYtmdM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-uKYtBYtmdM .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-uKYtBYtmdM ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uKYtBYtmdM .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-uKYtBYtmdM .navbar-buttons {
    text-align: left;
  }
}
.cid-uKYtBYtmdM button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uKYtBYtmdM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-uKYtBYtmdM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uKYtBYtmdM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uKYtBYtmdM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uKYtBYtmdM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uKYtBYtmdM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uKYtBYtmdM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uKYtBYtmdM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uKYtBYtmdM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uKYtBYtmdM .navbar-dropdown {
  padding: 0 1rem;
}
.cid-uKYtBYtmdM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uKYtBYtmdM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uKYtBYtmdM .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uKYtBYtmdM .navbar {
    height: 70px;
  }
  .cid-uKYtBYtmdM .navbar.opened {
    height: auto;
  }
  .cid-uKYtBYtmdM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-uKYtBYtmdM .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-uKYtBYtmdM .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-uKYtBYtmdM .navbar-brand {
    margin-right: auto;
  }
  .cid-uKYtBYtmdM .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    backdrop-filter: blur(8px);
  }
  .cid-uKYtBYtmdM .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-uKYtBYtmdM .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-uKYtBYtmdM .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uKYtBYtmdM .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-uKYtBYtmdM .navbar-collapse {
    padding: 1rem;
  }
}
.cid-uKYtBYtxY2 {
  display: flex;
  background-image: url("../../../assets/images/ktima-drilli-38.webp");
}
.cid-uKYtBYtxY2 .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-uKYtBYtxY2 {
    align-items: flex-end;
  }
  .cid-uKYtBYtxY2 .row {
    justify-content: center;
  }
  .cid-uKYtBYtxY2 .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uKYtBYtxY2 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uKYtBYtxY2 {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-uKYtBYtxY2 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uKYtBYtxY2 .content-wrap {
    width: 100%;
  }
}
.cid-uKYtBYtxY2 .mbr-section-title,
.cid-uKYtBYtxY2 .mbr-section-subtitle {
  text-align: center;
}
.cid-uKYtBYtxY2 .mbr-text,
.cid-uKYtBYtxY2 .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-uKYtBYtxY2 .mbr-section-title {
  color: #efd48b;
}
.cid-uKYtBYt6i1 {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uKYtBYt6i1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uKYtBYt6i1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uKYtBYt6i1 .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-uKYtBYt6i1 .row {
  flex-direction: row-reverse;
}
.cid-uKYtBYt6i1 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uKYtBYt6i1 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uKYtBYt6i1 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uKYtBYt6i1 .mbr-section-title {
  color: #b59b55;
}
.cid-uKYtBYt6i1 .mbr-text,
.cid-uKYtBYt6i1 .mbr-section-btn {
  color: #000000;
}
.cid-uNybb26QUa {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uNybb26QUa .item-wrapper {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uNybb26QUa .smallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cid-uNybb26QUa .largeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cid-uNybb26QUa .largeImage .item {
    margin-bottom: 2rem;
  }
  .cid-uNybb26QUa .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .cid-uNybb26QUa .largeImage .item {
    margin-bottom: 1rem;
  }
}
.cid-uNybb26QUa .mbr-fallback-image.disabled {
  display: none;
}
.cid-uNybb26QUa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uNybb26QUa .mbr-description {
  text-align: left;
}
.cid-uNybb26QUa .card-title,
.cid-uNybb26QUa .iconfont-wrapper {
  color: #000000;
}
.cid-uNybb26QUa .card-text {
  color: #000000;
}
.cid-uNybb26QUa .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uNybb26QUa .mbr-number {
  color: #9fe870;
}
.cid-uNybb26QUa .mbr-text,
.cid-uNybb26QUa .mbr-section-btn {
  text-align: center;
}
.cid-uNybb26QUa .card-text,
.cid-uNybb26QUa .item .mbr-section-btn {
  text-align: left;
}
.cid-uNybb26QUa .smallImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uNybb26QUa .smallImage {
    height: 100%;
    object-fit: cover;
  }
}
.cid-uNybb26QUa .largeImage {
  width: 100%;
  height: 632px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uNybb26QUa .largeImage {
    height: 100%;
    object-fit: cover;
  }
}
.cid-uKYtBYyLE2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #e1cc93;
}
.cid-uKYtBYyLE2 .item:focus,
.cid-uKYtBYyLE2 span:focus {
  outline: none;
}
.cid-uKYtBYyLE2 .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-uKYtBYyLE2 .content-head {
  max-width: 800px;
}
.cid-uKYtBYyLE2 .item {
  color: #3a7613;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-uKYtBYyLE2 .item {
    min-height: 45px;
  }
}
.cid-uKYtBYvXwP {
  background-image: url("../../../assets/images/ktima-drilli-21.webp");
}
.cid-uKYtBYvXwP .mbr-overlay {
  background-color: #000000;
  opacity: 0.3;
}
.cid-uKYtBYvXwP .mbr-fallback-image.disabled {
  display: none;
}
.cid-uKYtBYvXwP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uNWDgXG5sq {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #c6ad72;
}
.cid-uNWDgXG5sq .mbr-fallback-image.disabled {
  display: none;
}
.cid-uNWDgXG5sq .item-wrapper {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .cid-uNWDgXG5sq .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uNWDgXG5sq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uNWDgXG5sq .card-text {
  max-width: 400px;
  color: #e3ebf3;
  text-align: center;
  margin: auto;
}
.cid-uNWDgXG5sq .iconfont-wrapper .mbr-iconfont {
  display: inline-flex;
  font-size: 4rem;
  color: #2e8ba9;
  width: 80px;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-uNWDgXG5sq .iconfont-wrapper .mbr-iconfont:hover {
  transform: scale(1.2);
}
.cid-uNWDgXG5sq .card-title,
.cid-uNWDgXG5sq .iconfont-wrapper {
  color: #3a7613;
  text-align: center;
}
.cid-uNWDgXG5sq .content-head {
  max-width: 800px;
}
.cid-uNWDgXG5sq .mbr-section-title {
  color: #3a7613;
}
.cid-uNWDgXG5sq .mbr-section-subtitle {
  color: #ffffff;
}
.cid-uLyL7iqrpQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uLyL7iqrpQ .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uLyL7iqrpQ img,
.cid-uLyL7iqrpQ .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-uLyL7iqrpQ .item:focus,
.cid-uLyL7iqrpQ span:focus {
  outline: none;
}
.cid-uLyL7iqrpQ .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uLyL7iqrpQ .item {
    margin-bottom: 1rem;
  }
}
.cid-uLyL7iqrpQ .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uLyL7iqrpQ .mbr-section-title {
  color: #b59b55;
}
.cid-uLyL7iqrpQ .mbr-text,
.cid-uLyL7iqrpQ .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-uLyL7iqrpQ .item-title {
  color: #b59b55;
  text-align: center;
}
.cid-uLyL7iqrpQ .content-head {
  max-width: 800px;
}
.cid-uO5lzoY9HJ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uO5lzoY9HJ .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uO5lzoY9HJ .item {
    margin-bottom: 1rem;
  }
}
.cid-uO5lzoY9HJ .item-wrapper {
  position: relative;
}
.cid-uO5lzoY9HJ .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  color: #464845 !important;
  transform: translateX(-50%) translateY(-50%);
  background-color: #edefea !important;
  transition: 0.2s;
}
.cid-uO5lzoY9HJ .item-wrapper:hover .icon-wrapper {
  opacity: 1;
}
.cid-uO5lzoY9HJ .carousel-control,
.cid-uO5lzoY9HJ .close {
  background: #1b1b1b;
}
.cid-uO5lzoY9HJ .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-uO5lzoY9HJ .carousel-control-prev span {
  margin-right: 5px;
}
.cid-uO5lzoY9HJ .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-uO5lzoY9HJ .carousel-control-next span {
  margin-left: 5px;
}
.cid-uO5lzoY9HJ .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-uO5lzoY9HJ .close::before {
  content: '\e91a';
}
.cid-uO5lzoY9HJ .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-uO5lzoY9HJ .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-uO5lzoY9HJ .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uO5lzoY9HJ .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uO5lzoY9HJ .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-uO5lzoY9HJ .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-uO5lzoY9HJ .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-uO5lzoY9HJ .carousel-indicators li.active,
.cid-uO5lzoY9HJ .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-uO5lzoY9HJ .carousel-indicators li::after,
.cid-uO5lzoY9HJ .carousel-indicators li::before {
  content: none;
}
.cid-uO5lzoY9HJ .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-uO5lzoY9HJ .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-uO5lzoY9HJ .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uO5lzoY9HJ .carousel-indicators {
    display: none;
  }
}
.cid-uO5lzoY9HJ .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-uO5lzoY9HJ .carousel-inner > .active {
  display: block;
}
.cid-uO5lzoY9HJ .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uO5lzoY9HJ .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-uO5lzoY9HJ .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-uO5lzoY9HJ .carousel-control,
  .cid-uO5lzoY9HJ .carousel-indicators,
  .cid-uO5lzoY9HJ .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-uO5lzoY9HJ .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-uO5lzoY9HJ .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-uO5lzoY9HJ .carousel-indicators .active,
.cid-uO5lzoY9HJ .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-uO5lzoY9HJ .carousel-indicators .active {
  background: #fff;
}
.cid-uO5lzoY9HJ .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-uO5lzoY9HJ .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-uO5lzoY9HJ .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-uO5lzoY9HJ .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-uO5lzoY9HJ .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-uO5lzoY9HJ .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-uO5lzoY9HJ .carousel {
  width: 100%;
}
.cid-uO5lzoY9HJ .modal-backdrop.in {
  opacity: 0.8;
}
.cid-uO5lzoY9HJ .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-uO5lzoY9HJ .modal.fade .modal-dialog,
.cid-uO5lzoY9HJ .modal.in .modal-dialog {
  transform: none;
}
.cid-uO5lzoY9HJ .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-uO5lzoY9HJ .content-head {
  max-width: 800px;
}
.cid-uO5lzoY9HJ H3 {
  color: #0e7b9e;
}
.cid-uKYtBYwsa6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #e1cc93;
}
.cid-uKYtBYwsa6 .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uKYtBYwsa6 img,
.cid-uKYtBYwsa6 .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-uKYtBYwsa6 .item:focus,
.cid-uKYtBYwsa6 span:focus {
  outline: none;
}
.cid-uKYtBYwsa6 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uKYtBYwsa6 .item {
    margin-bottom: 1rem;
  }
}
.cid-uKYtBYwsa6 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uKYtBYwsa6 .mbr-section-title {
  color: #3a7613;
}
.cid-uKYtBYwsa6 .mbr-text,
.cid-uKYtBYwsa6 .mbr-section-btn {
  color: #232323;
}
.cid-uKYtBYwsa6 .item-title {
  color: #3a7613;
}
.cid-uKYtBYwsa6 .content-head {
  max-width: 800px;
}
.cid-uO5OY7g5UE {
  background-color: #a2784f;
}
.cid-uO5OY7g5UE .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-uO5OY7g5UE .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-uO5OY7g5UE .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-uO5OY7g5UE .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-uO5OY7g5UE .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-uO5OY7g5UE .image-element {
    padding-right: 0;
  }
}
.cid-uO5OY7g5UE .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-uO5OY7g5UE .mbr-text {
  color: #878787;
  line-height: 27px;
}
.cid-uO5OY7g5UE .brown {
  color: #c19b76;
}
.cid-uO5OY7g5UE .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-uO5OY7g5UE .paragraphs-wrapper .first-paragraph,
.cid-uO5OY7g5UE .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-uO5OY7g5UE .image-element {
    padding-bottom: 1rem;
  }
  .cid-uO5OY7g5UE .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-uO5OY7g5UE .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-uO5OY7g5UE .paragraphs-wrapper .first-paragraph,
  .cid-uO5OY7g5UE .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-uO5OY7g5UE .first-paragraph,
  .cid-uO5OY7g5UE .second-paragraph {
    width: 50%;
  }
  .cid-uO5OY7g5UE .first-paragraph {
    padding-right: 0.5rem;
  }
  .cid-uO5OY7g5UE .second-paragraph {
    padding-left: 0.5rem;
  }
  .cid-uO5OY7g5UE .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-uO5OY7g5UE .mbr-section-title,
  .cid-uO5OY7g5UE .mbr-section-btn {
    text-align: left;
  }
}
.cid-uO5OY7g5UE .mbr-fallback-image.disabled {
  display: none;
}
.cid-uO5OY7g5UE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uO5OY7g5UE .mbr-section-title {
  color: #a3c6d2;
}
.cid-uO5OY7g5UE .mbr-text,
.cid-uO5OY7g5UE .mbr-section-btn {
  color: #ffffff;
}
.cid-uO5yREFZlV {
  background-color: #2b6477;
}
.cid-uO5yREFZlV .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-uO5yREFZlV .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-uO5yREFZlV .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-uO5yREFZlV .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-uO5yREFZlV .image-element {
    padding-left: 0;
  }
}
.cid-uO5yREFZlV .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-uO5yREFZlV .mbr-text {
  color: #878787;
  line-height: 27px;
}
.cid-uO5yREFZlV .brown {
  color: #c19b76;
}
.cid-uO5yREFZlV .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-uO5yREFZlV .paragraphs-wrapper .first-paragraph,
.cid-uO5yREFZlV .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-uO5yREFZlV .image-element {
    padding-top: 1rem;
  }
  .cid-uO5yREFZlV .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-uO5yREFZlV .paragraphs-wrapper .first-paragraph,
  .cid-uO5yREFZlV .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-uO5yREFZlV .first-paragraph,
  .cid-uO5yREFZlV .second-paragraph {
    width: 50%;
  }
  .cid-uO5yREFZlV .first-paragraph {
    padding-right: 0.5rem;
  }
  .cid-uO5yREFZlV .second-paragraph {
    padding-left: 0.5rem;
  }
  .cid-uO5yREFZlV .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-uO5yREFZlV .mbr-section-title,
  .cid-uO5yREFZlV .mbr-section-btn {
    text-align: left;
  }
}
.cid-uO5yREFZlV .mbr-fallback-image.disabled {
  display: none;
}
.cid-uO5yREFZlV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uO5yREFZlV .mbr-section-title {
  color: #c6ad72;
}
.cid-uO5yREFZlV .mbr-text,
.cid-uO5yREFZlV .mbr-section-btn {
  color: #a3c6d2;
}
.cid-uKYtBYyI43 {
  background-image: url("../../../assets/images/ktima-drilli-36.webp");
  overflow: hidden;
}
.cid-uLyKGUVHVL {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-uLyKGUVHVL .mbr-fallback-image.disabled {
  display: none;
}
.cid-uLyKGUVHVL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uLyKGUVHVL .google-map {
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}
.cid-uLyKGUVHVL .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-uLyKGUVHVL .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uLyKGUVHVL .google-map[data-state] {
  background: #e9e5dc;
}
.cid-uLyKGUVHVL .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-uLyKGUVHVL .content-head {
  max-width: 800px;
}
.cid-uLyKGUVHVL .mbr-section-title {
  color: #0e7b9e;
}
.cid-uO1yfCv3DV {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uO1yfCv3DV .row {
  flex-direction: row-reverse;
}
.cid-uO1yfCv3DV .justify-content-center {
  align-items: center;
}
.cid-uO1yfCv3DV .mbr-section-title {
  text-align: center;
  color: #b59b55;
}
.cid-uO1yfCv3DV .mbr-text,
.cid-uO1yfCv3DV .mbr-section-btn {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-uO1yfCv3DV .item-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uO1yfCv3DV .item-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uO1yfCv3DV .item-wrapper {
    padding: 4rem;
  }
}
.cid-uO1yfCv3DV .mbr-section-subtitle {
  color: #b59b55;
}
.cid-uO5wNiZNkk {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e1cc93;
  overflow: hidden;
}
.cid-uO5wNiZNkk .media-container-row .mbr-text {
  color: #0e7b9e;
}
